@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
}

body{
   background-color: #f3f5f9;
}

.wrapper{
  display: flex;
  position: relative;
}

.wrapper .sidebar{
  /* width: 200px; */
  /* height: 100%; */
  background: #ffffff;
  padding: 30px 0px;
  position: relative;
  margin-right: 10px;
}

.wrapper .sidebar h2{
  color: rgb(0, 0, 0);
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 15px;
}

.wrapper .sidebar ul .checkbox{
  padding: 5px 30px;
  border-bottom: 1px solid #bdb8d7;
  border-bottom: 1px solid rgba(0,0,0,0.05);
  border-top: 1px solid rgba(255,255,255,0.05);
  color: #000000;
  display: block;
}    

/* .wrapper .sidebar ul li .checkbox{

} */

/* .wrapper .sidebar ul li a .fas{
  width: 25px;
} */

/* .wrapper .sidebar ul li:hover{
  background-color: #594f8d;
} */
    
/* .wrapper .sidebar ul li:hover a{
  color: #fff;
} */
 
.wrapper .sidebar .social_media{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.wrapper .sidebar .social_media a{
  display: block;
  width: 40px;
  background: #594f8d;
  height: 40px;
  line-height: 45px;
  text-align: center;
  margin: 0 5px;
  color: #bdb8d7;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.wrapper .main_content{
  width: 100%;
  margin-left: 200px;
}

.wrapper .main_content .header{
  padding: 20px;
  background: #fff;
  color: #717171;
  border-bottom: 1px solid #e0e4e8;
}

.wrapper .main_content .info{
  margin: 20px;
  color: #717171;
  line-height: 25px;
}

.wrapper .main_content .info div{
  margin-bottom: 20px;
}
.scroll{
  border: 1px black solid;
  width: 200px;
  height: 300px;
  margin-left: 15px;
  overflow-y: scroll;
}
::-webkit-scrollbar{
  width: 10px;
  background: lightgray;
}
::-webkit-scrollbar-thumb{
  border-radius: 5px;
  background: grey;
}
.product-count {
  margin-bottom: 15px; 
}
.product-count .qtyminus,
.product-count .qtyplus {
  width: 34px;
    height: 34px;
    background: #524a4a;
    text-align: center;
    font-size: 19px;
    line-height: 36px;
    color: #fff;
    cursor: pointer;
    float: left;
}
.product-count .qtyminus {
  border-radius: 3px 0 0 3px; 
}
.product-count .qtyplus {
  border-radius: 0 3px 3px 0; 
}
.product-count .qty {
  width: 60px;
  text-align: center;
  float: left;
  height: 34px;
}
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

  .text ul li{
    list-style: none;
    text-decoration: none;
    padding-bottom: 15px ;
  }    
  .text ul li a{
    color: #000000;
    display: block;
    list-style: none;
    text-decoration: none;
  }
  
  .text ul li a .fas{
    width: 25px;
  }
      
  .text ul li:hover a{
    color: rgb(87, 66, 66);
  }
  .text p{
    padding-top: 50px;
    padding-left: 15px;
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 5px;
  }